@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Arima:wght@100..700&family=Dancing+Script:wght@400..700&family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Satisfy&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
:root
{
    --black-color: #171819 !important;
    --light-gray-color: #5f5f5f !important;
    --original-color: white !important; 
    --orange-color: #ff5722 !important;
    --font-family: "Dancing Script", cursive;
}
body
{
    background-color: var(--black-color) !important;
    overflow-x: hidden !important;
}
.sec4.border-top , .sec5.border-top , .sec6.border-top ,.sec2.border-top
{
    border-top: 2px solid var(--orange-color) !important;
}
.sec6.border-bottom
{
    border-bottom: 2px solid var(--orange-color) !important;
}
.text-space
{
    outline: none !important; 
    box-shadow: 0 0 15px var(--orange-color) !important;
}
.text-space:focus
{
    border: 3px solid var(--orange-color) !important;
}
.bg-f4 , .accordion-item .accordion-button 
{
    background-color:var(--black-color) !important;
    color: var(--original-color) !important;
}
.navbar-brand
{
    font-family: var(--font-family) !important;
}
.navbar-brand.border-bg , .btn
{
    border-color: var(--orange-color) !important;
}
.bg-or
{
    border: 2px solid var(--orange-color) !important;
}
.navbar-toggler-icon
{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 87, 34, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}
.brand-color , .btn , .card-title , .change-head , .col-auto a , .list-orange li
{
    color: var(--orange-color) !important;
}
.dropdown-header.custom-dropdown-header
{
    font-size: 17px !important;
}
.dropdown-menu
{
    box-shadow: 0px 0px 15px var(--orange-color) !important;
    border: 1px solid var(--orange-color) !important;
}
.navbar-toggler:hover , .navbar-toggler:focus
{
    box-shadow: 0px 0px 7px var(--orange-color) !important;
}
.form-search , .form-search:hover  , .form-search:focus
{
    border: 2px solid var(--orange-color) !important;
}
.form-search:hover  , .form-search:focus{
    box-shadow: var(--orange-color) 0 0 10px !important;
}
.btn.logging-btn:hover,
.btn.cancel-btn:hover {
    background-color: var(--black-color) !important;
    color: var(--orange-color) !important;
    border: 1px solid var(--orange-color) !important;
    transition: all 0.3s ease-in-out;
}
.btn.cancel-btn:hover
{
    background-color: var(--original-color) !important;
}
.btn:hover
{
    background-color: var(--orange-color) !important;
    color: var(--original-color) !important;
    transition: all 0.3s ease-in-out !important;
}
.scale-hover 
{
    transition: transform 0.3s ease-in-out !important;
}
.scale-hover:hover 
{
    transform: scale(1.2) !important;
}
.navbar .nav-link , .dropdown-item , .card-link , .modal-title
{
    color: var(--orange-color) !important;
    font-size: 20px !important;
}
.navbar .nav-link:hover , .navbar .nav-link.dropdown-toggle:focus,
.navbar .nav-link.dropdown-toggle:active 
{
    color: var(--original-color) !important;
    border-radius: 5px;
    border: 2px solid var(--orange-color);
    transition: all 0.3s ease-in-out;
}
.dropdown-item:hover, .dropdown-item:focus , .logging-btn ,.cancel-btn
{
    background-color: var(--orange-color) !important;
    color: var(--original-color) !important;
    transition: all 0.3s ease-in-out;
}
.mb-3 input
{
    border: 1px solid var(--orange-color) !important;
}
.mb-3 input:focus , .form-check-input:checked
{
    border: 1px solid var(--orange-color) !important;
    box-shadow: 0 0 7px var(--orange-color);
}
.btn-close {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ff5722'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") !important;
    opacity: 1 !important;
    font-size: large;
}
.btn-close:focus  , .btn-close:hover
{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23e64d1f'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") !important;
    box-shadow: none !important;
}
.form-check-input:checked 
{
    background-color: var(--orange-color) !important;
    border-color: #ff8c00 !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e") !important;
}
.form-check-input:focus 
{
    border-color: #ff8c00 !important;
    box-shadow: 0 0 0 0.25rem rgba(255, 140, 0, 0.25) !important;
}
.carousel-item img 
{
    height: 100vh;
    object-fit: cover;
    position: relative;
}
.carousel-item .overlay , .overlay
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.carousel-control-prev-icon,
.carousel-control-next-icon
{
    transform: scale(1.3);
    border-radius: 50%;  
    background-color: white !important;
    background-repeat: no-repeat;
    background-position: center;
}
.carousel-control-prev-icon
{
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23ff5722' viewBox='0 0 16 16'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0'/></svg>") !important;
}
.carousel-control-next-icon
{
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23ff5722' viewBox='0 0 16 16'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708'/></svg>") !important;
}
.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
    transform: scale(1.5);
    transition: transform 0.2s ease;
}
.carousel-caption
{
    background-color: rgb(0, 0, 0 , 0.5);
    transform: translateY(-15%);
    border: 2px solid var(--orange-color);
    box-shadow: #ff5722 0px 5px 15px;
}
.social-sidebar {
    z-index: 1000 !important;
}
.social-sidebar a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 21px;
    border-radius: 50%;
    border: 1px solid var(--orange-color);
    background-color:var(--black-color);
    color: #ff5722; 
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}
.social-sidebar a:hover {
    background-color: #ff5722; 
    box-shadow: 0 0 7px var(--orange-color);
    color: white; 
}
.welcome-section {
    background-color: var(--light-gray-color);
    color: var(--original-color);
    border-bottom: 2px solid var(--black-color);
}
.display-4
{
    color: var(--orange-color) !important;
    text-shadow: var(--black-color) 3px 2px 2px;
}
.btn1
{
    border: 2px solid var(--black-color) !important;
    color: var(--original-color) !important;
    box-shadow: var(--black-color) 0px 7px 5px;
}
.btn1:hover
{
    background-color: var(--black-color) !important;
    color: var(--original-color) !important;
    border: 2px solid var(--orange-color) !important;
    transition: all 0.3s ease-in-out;
}
.bg-famous , .bg-parent-famous
{
    background-color: var(--black-color);
    color: var(--original-color);
    width: 100% !important;
}
.sec3
{
    padding: 30px 0px 0px 0px !important;
}
.head-famous
{
    background-color: var(--light-gray-color);
    text-shadow: var(--black-color) -3px 5px 2px;
}
.accordion
{
    border: 2px solid var(--orange-color) !important;
    border-radius: 10px;
    box-shadow: var(--orange-color) 0px 5px 15px;
}
.accordion-item
{
    background-color: var(--light-gray-color) !important;
    color: var(--original-color) !important;
}
.accordion-item .accordion-button
{
    color: var(--orange-color) !important;
    border-bottom: 2px solid (--original-color);
    font-size: 18px;
}
.accordion-button::after {
    filter: invert(48%) sepia(93%) saturate(4804%) hue-rotate(2deg) brightness(99%) contrast(101%);
}
.accordion-button::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ff5722'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}
.accordion-item .accordion-button:focus , .accordion-item .accordion-button:hover{
    background-color: var(--original-color) !important;
    color: var(--orange-color) !important;
    border-bottom: 3px solid (--original-color);
    box-shadow: 0px 0px 10px var(--black-color) !important;
}
.bg-fixed {
    background-image: url('../images/Fixed1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.card-persona , .card
{
    border: 2px solid var(--orange-color) !important;
    box-shadow: var(--orange-color) 0px 5px 15px;
    background-color: var(--black-color) !important;
    color: var(--original-color) !important;
    position: relative;
}
.card-persona::after
{
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    transition: all 1s;
}
.card-persona::before
{
    position: absolute;
    content: " ";
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    transition: all 1s;
}
.card-persona:hover:after , .card-persona:hover::before
{
    width: 100%;
    height: 100%;
    background-color: rgb(95, 95, 95 , 0.2);
}
.card-img-top
{
    height: 350px;
    object-fit: cover;
}
.special-one
{
    background-image: url(../images/Fixed2.jpg);
}
.thanks-card 
{
    height: 380px;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 25px var(--orange-color);
}
.card-bg
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
    transition: transform 0.5s ease;
}
.coach-card
{
    transition: all 0.7s;
}
.coach-card:hover
{
    transform: scale(1.1);
}
.profile-img 
{
    width: 100px;
    height: 180px;
    border-radius: 50%;
    border: 3px solid var(--orange-color);
    object-fit: cover;
}
.overlay 
{
    background-color: rgb(95, 95, 95 , 0.2); 
}
.image-content
{
    margin-top: 80px;
}
.card-content
{
    text-align: left;
    color: var(--orange-color);
}
.image-content 
{    
    align-items: flex-start !important;
}
.right-image , .left-image
{
    object-fit: cover;
}
.right-image
{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
}
.left-image
{
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
}
.sec11 .card-title
{
    font-family: var(--font-family);
}
.progress-line {
  height: 7px;                /* thin line */
  width: 100px;                /* short width under text */
  background-color: var(--orange-color); /* your theme color */
  border-radius: 5px;         /* slightly rounded edges */
  margin-top: 5px;            /* little space from text */
}
.sec12 .card:hover
{
    transition: all 1s;
    transform: scale(1.1);
}
.card-text .text-muted , .mb-3 , .modal-body
{
    color: var(--light-gray-color) !important;
    font-size: 17px;
}
.btn-toolbar .btn-group:hover
{
    box-shadow: 2px 2px 10px var(--orange-color);
}
.card-icon img {
    width: 80px; 
    height: auto;
    margin-bottom: 20px;
}
.social-icon
{
    filter: drop-shadow(0 5px 5px var(--orange-color));
}
.social-icon:hover
{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
footer
{
    background-color: var(--light-gray-color);
    color: var(--orange-color);
}
@media (max-width: 576px) 
{
    .right-image,
    .left-image {
    clip-path: none;
    }
}


